H1{
    background-color: black;
    color: white;
}
p{
    background-color: black;
    color: #f0ffff;
}
*{
    background-color: aqua;
    color: blue;
}
#a1{
    background-color: aqua;
    color: black;
} 
h1{




}




